  <div class="landing-body">
    <div class="heading">
      <h1>Money Order</h1>
    </div>
    <div class="buttons">
      <%= link_to 'Log in', new_user_session_path %>
      <%= link_to 'Sign up', new_user_registration_path %>
    </div>
  </div>

