<%= stylesheet_link_tag 'landing_page' %>
  <div class="landing-body">
    <div class="heading">
      <h1>Money Order</h1>
    </div>
    <div class="buttons">
      <%= link_to 'LOG IN', new_user_session_path, class: "log-in" %>
      <%= link_to 'SIGN UP', new_user_registration_path, class: "sign-up" %>
    </div>
  </div>

