body {
    background-color: rgba(224,227,232,255);
}

.pass-container {
    top: 20%;
    left: 10%;
    background-color: #ffffff;
    width: 70%;
    position: absolute;
    padding: 1rem;
}

.lock-img {
    width: 10%;
    border-radius: 50%;
    background-color: #ffcd052d;

}

.sign_up, .didnt-recieve, .unlock_instr {
    display: none;
}

/* .img-container {
    background-color: #ffcd052d;
    border-radius: 50%;
    width: 10%;
} */

.pass-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 1rem;
    gap: 0.5rem;
}