@font-face {
  font-family: 'majesty';
  src: url('majesty.ttf');
}

.landing-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95vh;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95%;
  width: 100%;
  text-align: center;
  font-family: 'majesty', sans-serif;
  font-size: 1.7rem;
  color: #434b54;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1.3rem;
}

.buttons>* {
  display: flex;
  border: none;
  padding: 0.5rem 1.5rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
}

.log-in {
  background: #3778c2;
  color: #fff;
}

.sign-up {
  color: #969696;
}

.sign-up:hover {
  border: 2px solid #969696;
}

.buttons a {
  text-decoration: none;
}

@media (min-width: 769px) {

  body {
    background-color: #E5E4E2;
  }

  .landing-container {
    border-radius: 10px;
    width: 30%;
    height: 70vh;
    background-color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .comp-logo{
    width: 40%;
  }

  .logo {
    width: 100%;
  }

  .landing-body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }

  .loga {
    width: 55%;
  }

  .heading {
    height: 60%;
    font-size: 1rem;
  }

  .heading h1 {
    display: none;
  }

  .buttons {
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 100%;
  }

  .sign-up {
    border: 1px solid #3778c2;
  }

  .sign-up:hover {
    border: 2px solid #3778c2;
  }

  .buttons>* {
    width: 80%;
  }
}