body {
  background-color: #f0ecec;
  font-family: "Roboto", sans-serif;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffff;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0, rgba(27, 31, 35, 0.15) 0 0 0 1px;
}

.field {
  display: flex;
  flex-direction: column;
}

.filed-holder {
  padding: 1rem;
  margin: 1rem;
}

.unlock_instr,
.didnt-recieve,
.sign_up {
  display: none;
}

input[type="email"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: #969696;
}

.forgot-password {
  margin-bottom: 1rem;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: right;
  color: #fff;
}

.code {
  border-top: 1px solid #dbd8d8;
  padding-top: 7px;
  margin-top: 7px;
}

.links {
  text-align: center;
}

.circle input {
  background-color: transparent;
  border: none;
  color: #ffff;
  font-size: 1rem;
}

.log-in-side {
  display: none;
}

.hide {
  display: none;
}

/* desktop vversion */
@media (min-width: 768px) {
  .container {
    top: 50%;
    display: flex;
    justify-content: center;
    width: 30%;
    background-color: #ffffff;
    box-shadow: none;
    padding: 1rem;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .new_user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .hero {
    display: none;
  }

  form {
    padding: 0;
    margin: 0.5rem;
  }

  .filed-holder {
    width: 85%;
  }

  .field {
    border-bottom: 1px solid #dbd8d8;
    font-size: 1rem;
  }

  input {
    font-size: 1rem;
    width: 85%;
    height: 2rem;
  }

  .code {
    border-top: none;
  }

  .links {
    display: none;
  }

  .hide {
    display: block;
  }

  .circle input {
    background: #3778c2;
    color: #fff;
    width: 100%;
    padding: 0.5rem 1.5rem;
    height: 3rem;
    cursor: pointer;
  }

  .circle {
    width: 100%;
    margin-top: 1.5rem;
  }

  .head {
    position: relative;
    text-align: center;
    margin-top: 3rem;
    font-weight: 700;
    font-size: 1.5rem;
  }

  .d-footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-top: 2rem;
  }

  .back {
    color: #3778c2;
  }
  
  /* alerts */
  .alert {
    width: 29%;
    margin: auto;
    padding: 0.5rem 1rem;
    margin-top: 1vh;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.5;
    border-left: 5px solid #b44504;
    background-color: #ee9d9d9d;
    color: #6d6868;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    animation: slide-in 0.5s forwards;
  }

  .alert:empty {
    padding: 0;
  }

/* entrace animations */
  @keyframes slide-in {
    0% {
      top: -100px;
    }
    100% {
      top: 1vh;
    }
  }
  
}